.page-numbers {
    button {
        &:hover {
            background-color: #dddcdc;
            color: #000;
        }
        &:active {
            background-color: #cacaca;  
        }

    }
    .first-page {
        &:hover {
            background-color: #005bb505;
            color: #fff;
        }
    }
    .last-page {
        &:hover {
            background-color: #005bb505;
            color: #fff;
        }
    }

    .current-page {
        &:hover {
            background-color: #005bb505;
            color: #fff;
        }
    }
}